
.header {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 100px;
}

.nav-link ul{
    display: flex;
    margin: 0;
    list-style-type: none;
}

.nav-link ul li{
    padding: 10px;
    margin: 10px;
}